extends layout 

block main 
  form(action='/coffees/add' method='get')
    button Add a bag!

  br
  for coffee in coffees
    div.coffee-card
      a(href=`/coffees/${coffee.id}`)
        h2 #{coffee.name} 
      table
        tr
          th Roaster: 
          td #{coffee.roaster_name}
        tr
          th COO: 
          td #{coffee.country_of_origin}
        tr
          th Region:
          td Region: #{coffee.region_of_origin}
        tr
          th Process: 
          td #{coffee.process}
        tr
          th Price/bag:
          td  $#{coffee.bag_price}
        tr
          th Your impression:
          td  #{coffee.description}
        tr
          form(action=`/coffees/${coffee.id}/destroy` method="post")
            button(type="submit") Delete List

