extends layout

block main 
  div.add-coffee-form-wrapper
    form(action=`/coffees/${coffeeId}/${brew.id}/edit-brew` method='post')
      div.add-coffee-form
        div.form-element
          label Method 
            input.input-form(type="text" name="method" placeHolder=brew.method)
        div.form-element
          label Description
            textarea.input-form(name="description" placeHolder=brew.description)
        div.form-element
          button.add Save Changes
    form(action=`/coffees/${coffeeId}/` method="get")
      button(type="submit") Cancel